.project-card {
  background: #1a1919;
  padding: 4rem;
  padding-bottom: 5rem;
}

.card-image {
  width: 100%;
}

.card-content {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
}
